In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

dataset = 'skrip_v7' # options: skrip_v7, ukr_v3
# Data
skrip_v7_te = 'Data/raw/Skripal/actor_te_edges_df - Skripal.csv'
ukr_v3_te = 'Data/raw/Ukraine/actor_te_edges_df_2022_01_01_2022_05_01 - Ukraine.csv'

if dataset == 'skrip_v7':
    TE_df = pd.read_csv(skrip_v7_te)
elif dataset == 'ukr_v3':
    TE_df = pd.read_csv(ukr_v3_te)

TE_df.head()

,Source,Target,TF_TF,TF_TM,TF_UF,TF_UM,TM_TF,TM_TM,TM_UF,TM_UM,UF_TF,UF_TM,UF_UF,UF_UM,UM_TF,UM_TM,UM_UF,UM_UM,*_*,total_te
0,a28483,a28634,0.0,0.0,0.0,0.0,0.000000,0.005080,0.00000,0.001976,0.000000,0.000096,0.000000,0.000225,0.000000,0.001695,0.000000,0.007564,0.004841,0.033271
1,a28483,a29102,0.0,0.0,0.0,0.0,0.000000,0.001242,0.00000,0.001618,0.000000,0.018728,0.000000,0.000224,0.000000,0.003872,0.000000,0.006954,0.007396,0.065275
2,a28483,a29312,0.0,0.0,0.0,0.0,0.000340,0.000685,0.00034,0.003639,0.000024,0.000048,0.000024,0.000941,0.000390,0.000837,0.015731,0.001936,0.011424,0.049867
3,a28483,a29376,0.0,0.0,0.0,0.0,0.000000,0.016899,0.00000,0.009002,0.000000,0.000024,0.000000,0.000224,0.000000,0.000416,0.000000,0.003223,0.003940,0.059575
4,a28483,a29597,0.0,0.0,0.0,0.0,0.001033,0.002474,0.00034,0.002986,0.000072,0.000172,0.000024,0.000224,0.001263,0.001327,0.000416,0.003700,0.023271,0.028063

In [10]:
sumS = TE_df.loc[TE_df['Source'] == 'a28483', 'TM_TM'].sum()
print(sumS)

2.953225052

In [11]:
def layer_correlation(df, source, target):
    sum_of_numerator = 0
    sum_of_denominator = 0
    for index, row in df.iterrows():
        if row[source] > 0 and row[target] > 0:
            sum_of_numerator += 1
        else:
            sum_of_numerator += 0
    
    for index, row in df.iterrows():
        if row[target] > 0:
            sum_of_denominator += 1
        else:
            sum_of_denominator += 0
    
    return sum_of_numerator / sum_of_denominator

In [12]:
print(layer_correlation(TE_df, 'TM_TM', 'TM_UM'))

0.9800401234253592

In [13]:
print(layer_correlation(TE_df, 'TF_TF', 'UM_UM'))

0.16517073114921027

In [19]:
from src import generate_edge_types
edge_types = generate_edge_types.generate_edge_types()
edge_types.remove('total_te')
df_heatmap = pd.DataFrame(index = range(16), columns = edge_types)
df_heatmap.index = edge_types
df_heatmap

,UF_UF,UF_UM,UF_TF,UF_TM,UM_UF,UM_UM,UM_TF,UM_TM,TF_UF,TF_UM,TF_TF,TF_TM,TM_UF,TM_UM,TM_TF,TM_TM
UF_UF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UF_UM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UF_TF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UF_TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UM_UF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UM_UM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UM_TF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UM_TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TF_UF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TF_UM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TF_TF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TF_TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TM_UF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TM_UM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TM_TF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TM_TM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN